# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
certs_temp/
ios_dist.p12
dist.mobileprovision
app_store_connect_api_key.json
build/

# Python
.venv/
*.pyc
__pycache__/

# その他
*.pdf
*.Zone.Identifier
スクリーンショット*
photodateG.png
final_overlay.png
AuthKey_*.p8
